

.zoom
{
	padding: 50px;
	background-color: blue;
	transition: transform .2s;
	width: 200px;
	height: 200px; 
	margin: 0px;
	
}
.zoom:hover
{
	-ms-transform: scale(1.2);
	-sebkit-transform: scale(1.2);
	transform: scale(1.2);
}
